/* ヘッダー上下の余白 */
.stack {
	padding: var(--space-sm) 0;
}
  
.stack > * + * {
	margin-top: var(--stack-space, 1em);
}
  
.subtitle {
	font-size: var(--small-heading2);
	font-weight: 700;
}

/* タイトルはサブタイトル(pタグ)に合わせて少し小さく */
.title {
	--stack-space: 0.2em;
}
  
.publish {
	display: flex;
	/* フレックスアイテム間の間隔を設定 */
	gap: 0.5em;
	color: var(--gray-50);
	font-size: var(--small-heading3);
}
